.weather-icon{
    width: 40px;
}

#weatherIcon{
    max-width: 150px;
}

hr{
    border: 1px solid rgba(175, 175, 175, 0.501);
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body.dark-theme {
    /* Dark theme styles */
    background-color: #333;
    color: #fff;
}


.custom-search{
    height: 5vh;
    width: 100%;
}

main{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    height: 90vh;
}

.left-column{
width: 70%;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: space-between;
    
}

.right-column{
    background-color: #EAECEF;
    height: 90vh;
    padding: 0px;
    border-radius: 15px;
    width: 30%;
    margin-top: 15px;
}

.bottom-side{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    margin-right: 20px;
    height: 88%;
}

ul{
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    align-items: center;
}

.todays-layout{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-size: small;
    padding: 20px;
    background-color: #EAECEF;
    border-radius: 15px;
    height: fit-content;
    margin-top: 40px;
}


.weather-conditions{
    background-color: #EAECEF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;
}

#weatherDescription{
    padding: 25px;
    padding-top: 5px;
}

.conditions-layout{
display: flex;
flex-direction: column;
}
.traki{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.conditions-txt{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
}

.sevenday-text{
    text-align: start;
    font-weight: bold;
    font-family: Montserrat;    
    margin-left: 20px;
    padding: 20px;
}

.weather-columns{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    margin-top: 60px;
}

.column-layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p{
    color: gray;
        font-family: 'Nunito', sans-serif;
}

#cityAndCountry {
    font-size: auto;
    font-weight: bold;
}

.weather-block{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: rgb(71, 71, 71);
}

@media screen and (max-width: 811px) {

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right-column{
        width: 90%;
        margin: 0;
    }
    .left-column{
        width: 90%;
    }

    .todays-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    font-size: small;
    padding: 35px;
    height: fit-content;
    margin-top: 0px;
    }

    .traki {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        font-size: small;
        padding: 20px;
        height: fit-content;
    }
    .weather-block{
        align-items: center;
        padding: 20px;
        gap: 5px;
    }
    .bottom-side{
        margin: 20px;
        transform: translateY(-10px);
    }
    .weather-conditions{
        margin-top: 30px;
    }

    .hourly-forecast{
        margin-top: 40px;
    }

    .traki span{
        display: none;
    }

    #weatherIcon{
        width: 150px;
    }
           #cityAndCountry {
               font-size: 25px;
           }

}

@media only screen and (max-width: 810px){
    .morcha{
        width: 100% !important;
    }
}

@media screen and (min-width: 800px) {

        #cityAndCountry {
                font-size: 30px;
            }
}

@media screen and (max-width: 534px) {
    .traki{
        font-size: 10px;
    }

                .morcha {
                    width: 90% !important;
                }

}

@media screen and (max-width: 482px) {
    #weatherIcon{
        width: 90px;
        height: 80px;
    }

                   #cityAndCountry {
                       font-size: 20px;
                   }
                   
    .saxelwodeba{
        font-size: 10px;
    }
}

@media screen and (max-width: 378px) {
    #cityAndCountry {
        font-size: 17px;
    }
    #weatherIcon{
        width: 75px;
        height: 70px;
    }
}

.dzudzu1,.dzudzu2{
display: flex;
flex-direction: row;
}


.hourly-forecast{
    background-color: #EAECEF;
    border-radius: 15px;
    height: 40%;
    
}

.erti{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 10px;
    line-height: 15px;
}

.traki{
    display: flex;
    font-size: 14px;
    align-items: center;

}




#dayNightIndicator {
    line-height: 12px;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    color: #666666;
    border-style: none;
}



#weatherIcon {
    text-align: left;
}

div.weather-columns {
    text-align: left;
}

div.todays-layout {
    text-align: center;
    border-style: none;
    text-transform: none;
    font-weight: 700;
    font-style: normal;
    font-family: Montserrat;
}

div.right-column {
    text-align: center;
}

div.bottom-side {
    font-family: Montserrat;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 300;
}

html body main {
    text-align: left;
}

div.todays-txt {
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
    font-weight: 900;
    font-family: Montserrat;
}

div.weather-conditions {
    font-family: Montserrat;
    font-weight: 1000;
}

p {
    font-family: Montserrat;
    font-weight: 500;    color: #170e38;
}

div.sevenday-text {
    font-family: Montserrat;
    font-weight: 500;
}

div.conditions-txt {
    font-weight: 700;
}

.hourstyle {
    font-weight: 700 !important;
    color: black;
}

div.hour{
    color: gray;
    font-weight: 400;
}

.traki p {
    color: rgba(82, 82, 82, 0.606);
    font-weight: 400;
}

.right-column div{
    font-weight: 700;
}

.sameone{
    color: rgba(70, 70, 70, 0.57);
    font-weight: 500;
}


#dayNightIndicator{
    margin-top: 15px;
}

#temperature{
    font-size: 30px;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.custom-search {
    position: relative;
    max-width: 400px;
    min-width: 200px;
    top: 20px;
    margin-left: 20px;

}

.morcha{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%
}

.custom-search-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 0px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
}

.custom-search-botton {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border: 0;
    background: #EAECEF;
    color: black;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
}

button:hover{
    transform: scale(1.05);
    transition: 200ms;
}

button:active{
    transform: scale(0.9);
    filter: brightness(0.6);
    transition: 200ms;
}

.toggle-switch {
    position: absolute;
    display: inline-block;
    width: 45px;
    height: 24px;
}

.toggle-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(20px);
}