.weather-icon{
    width: 40px;
}

#weatherIcon{
    max-width: 133px;
}

hr{
    border: 1px solid rgba(175, 175, 175, 0.501);
    width: 100%;
}

body{
    /*! margin: 20px; */
    padding: 7px;
    /*! width: 100%; */
    overflow: hidden;
        transition: 200ms;
}

body.dark-theme {
    /* Dark theme styles */
    background-color: #0B131E;
    color: #fff;
    transition: 200ms;
}


.custom-search{
    height: 5vh;
    width: 100%;
}

main{
    display: flex;
    /*! width: 100%; */
    gap: 20px;
    /*! justify-content: space-between; */
    /*! height: 90vh; */
}

.left-column{
width: 70%;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    /*! justify-content: space-between; */
    
}

.right-column{
    background-color: #EAECEF;
    /*! height: 90vh; */
    padding: 0px;
    border-radius: 15px;
    width: 30%;
    /*! margin-top: 20px; */
}

.bottom-side{
    display: flex;
    flex-direction: column;
    /*! gap: 11px; */
    justify-content: space-evenly;
    margin-right: 20px;
    height: 91%;
    /*! margin-top: -25px; */
}


.hourly-forecast.dark-theme,
.todays-layout.dark-theme,
.weather-conditions.dark-theme,
.right-column.dark-theme,
.custom-search-input
{
    background-color: #202B3B;
    transition: 200ms;
}

#toggleIcon.dark-theme{
    color: white;
    transform: scaleY(-1);
    filter: grayscale(100%);
    box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.315)
}

ul{
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    align-items: center;
    margin-top: 10px;
}

.todays-layout{
    display: flex;
    justify-content: space-around;
    gap: 18px;
    font-size: small;
    padding: 18px;
    background-color: #EAECEF;
    border-radius: 15px;
    height: fit-content;
    margin-top: 8px;
}


.weather-conditions{
    background-color: #EAECEF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*! height: 100%; */
}

#weatherDescription{
    padding: 25px;
    padding-top: 5px;
}

.conditions-layout{
display: flex;
flex-direction: column;
}
.traki{
    display: flex;
    padding: 8px;
    justify-content: space-between;
    padding-top: 0px;
}
.conditions-txt{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
}

.sevenday-text
{
  text-align: start;
  font-weight: bold;
  font-family: Montserrat;
  margin-left: 0px;
  padding: 20px;
  font-weight: bold;
}

.weather-columns{
    display: flex;
    padding: 0px;
    justify-content: space-around;
    margin-top: 20px;
}

.column-layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p{
    color: gray;
        font-family: 'Nunito', sans-serif;
}

#cityAndCountry {
    font-weight: bold;
    font-family: serif;
}

.weather-block{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: rgb(71, 71, 71);
}

@media screen and (max-width: 811px) {

    .custom-search-input {
            width: calc(100% + 10px) !important;
        }

        .mtavari {
            position: absolute;
            z-index: 1;
            top: 9px;
            right: 46px;
            height: 60%;
            width: 40px;
            border-radius: 10px;
            box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.315);
        }

.toggle-input {
    position: absolute;
    width: 45px !important;
    height: 29% !important;
    border-radius: 100%;
    z-index: 100;
    opacity: 0;
    right: 33px !important;
    transition: 200ms;
    top: 30px !important;
}

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right-column{
        width: 90%;
        margin: 25px;
    }
    .left-column{
        width: 90%;
    }

    .todays-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    font-size: small;
    padding: 35px;
    height: fit-content;
    margin-top: 0px;
    }

    .traki {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        font-size: small;
        padding: 20px;
        height: fit-content;
    }
    .weather-block{
        align-items: center;
        padding: 10px;
        gap: 15px;
    }
    .bottom-side{
        margin: 20px;
        transform: translateY(-10px);
    }
    .weather-conditions{
        margin-top: 40px;
    }

    .hourly-forecast{
        margin-top: 0px;
    }

    .traki span{
        display: none;
    }

    #weatherIcon{
        width: 150px;
    }

    #toggleIcon{
        top: 33px;
            right: 40px;
            height: 27%;
    }
    body{
        overflow: visible;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 810px){
    .morcha{
        width: 85% !important;
        padding: 40px;
        padding-top: 25px;
    }
    
}

@media screen and (min-width: 800px) {

        #cityAndCountry {
                font-size: 27px;
            }
}

@media screen and (max-width: 800px) {

    #cityAndCountry {
        font-size: 25px;
    }
}

@media screen and (max-width: 534px) {
    .traki{
        font-size: 10px;
    }

                .morcha {
                    width: 85% !important;
                    transform: translateX(-20px);
                }

}

@media screen and (max-width: 482px) {
    #weatherIcon{
        width: 90px;
        height: 80px;
    }

                   #cityAndCountry {
                       font-size: 20px;
                   }
                   
    .saxelwodeba{
        font-size: 10px;
    }
}

@media screen and (max-width: 378px) {
    #cityAndCountry {
        font-size: 17px;
    }
    #weatherIcon{
        width: 75px;
        height: 70px;
    }
}

.dzudzu1,.dzudzu2{
display: flex;
flex-direction: row;
}


.hourly-forecast{
    background-color: #EAECEF;
    border-radius: 15px;
    
}

.erti{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 10px;
    line-height: 15px;
}

.traki{
    display: flex;
    font-size: 13px;
    align-items: center;

}




#dayNightIndicator {
    line-height: 12px;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    color: #666666;
    border-style: none;
}



#weatherIcon {
    text-align: left;
}

div.weather-columns {
    text-align: left;
}

div.todays-layout {
    text-align: center;
    border-style: none;
    text-transform: none;
    font-weight: 700;
    font-style: normal;
    font-family: Montserrat;
}

div.right-column {
    text-align: center;
}

div.bottom-side {
    font-family: Montserrat;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 300;
    margin-top: -11px;
}

html body main {
    text-align: left;
}

div.todays-txt {
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
    font-weight: 900;
    font-family: Montserrat;
}

div.weather-conditions {
    font-family: Montserrat;
    font-weight: 1000;
}

p {
    font-family: Montserrat;
    font-weight: 500;    color: #170e38;
}

div.sevenday-text {
    font-family: Montserrat;
    /*! font-weight: 500; */
}

div.conditions-txt {
    font-weight: 700;
}

.hourstyle {
    font-weight: 700 !important;
    color: black;
}

div.hour{
    color: gray;
    font-weight: 400;
}

.traki p {
    color: rgba(82, 82, 82, 0.606);
    font-weight: 400;
}

.right-column div{
    /*! font-weight: 700; */
}

.sameone{
    color: rgba(70, 70, 70, 0.57);
    font-weight: 500;
}


#dayNightIndicator{
    margin-top: 15px;
}

#temperature{
    font-size: 30px;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.custom-search {
    position: relative;
    min-width: 200px;
    width: 98%;
}

.morcha {
    width: 72%;
    position: relative;
    /*! margin-top: 10px; */
}

.mtavari{
    position: absolute;
    z-index: 1;
    top: 7px;
    right: 47px;
    height: 69%;
    width: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.315);
}

.custom-search-input {
    width: calc(100% - 36px);
    background-image: url();
    /* Adjusted width to accommodate the toggle input */
    border: none;
    height: 47px;
    background-color: #EAECEF;
    border-radius: 15px;
    padding: 15px 0px 15px 20px;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-weight: 500;
    font-size: 15px;
    font-family: serif;
}



.toggle-input {
    position: absolute;
    width: 50px;
    height: 87%;
    border-radius: 100%;
    z-index: 100;
    opacity: 0;
    right: 44px;
    transition: 200ms;
}
